/* NewsSection.css */

.news-section {
  width: 60%;
  margin-right: auto;
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thumbnail-container {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 10px;
}

.thumbnail-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.news-content h3 {
  margin-top: 0;
}

.news-content p {
  margin-bottom: 10px;
}

.news-date {
  font-style: italic;
  color: #888;
}
