.card {

    margin: 30px;
    width: 20rem;
    

}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

.card-img-top {
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Ensure the image covers the entire space */
  }