/* Navbar.css */

.navbar {
  background-color: #0c1440;
  color: #ecf0f1;
  padding: 5px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  font-size: 3rem;
  font-weight: bold;
  color: #3498db; /* Adjusted color for the text logo */
  text-decoration: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.logo-image {

  width: 200px; /* Adjust the width of the logo image */
  height: 100px; /* Maintain the aspect ratio */
  margin-right: 10px; /* Add some spacing between the logo and text */
}

.navbar-logo:hover {
  color: #2980b9; /* Adjust the color on hover */
  background-color: #34495e; /* Adjusted background color on hover */
}

.navbar-links {
  margin-left: auto; /* Push links to the right */
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navigation li {
  margin-right: 20px;
}

.navigation a {
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navigation a:hover {
  color: #3498db; /* Change color on hover */
}
